[Unit]
Description=api inventory
After=network.target

[Service]
Environment=ENVIRONMENT=production
Environment=DB_INVENTORY_HOST=
Environment=DB_INVENTORY_PORT=
Environment=DB_INVENTORY_PASSWORD=
Environment=DB_INVENTORY_USER=
Environment=API_INVENTORY_HOST=http://localhost
Environment=API_INVENTORY_PORT=8080
Type=simple
User=
WorkingDirectory=/usr/local/go

[Install]
WantedBy=multi-user.target